<div class="container custom-container">

    <div class="col-md-12">
        <h3 class="mb-3 text-center">Create Employee</h3>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="employeeDetails.name" placeholder="Nome">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="employeeDetails.email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" [(ngModel)]="employeeDetails.phone" placeholder="Telefone">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)=addEmployee()>Create Employee</button>
        </div>
    </div>

</div>